<%= render 'shared/header' %>
<div id="myCarousel" class="carousel slide container" data-ride="carousel">
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <%= link_to product_path(@products.first) do %>
        <%= image_tag @products.first.picture_url %>
      <% end %>
    </div>
    <% @products.sample(@products.size).each do |product| %>
    <div class="item">
      <%= link_to product_path(product) do %>
        <%= image_tag product.picture_url %>
      <% end %> 
    </div>
  <% end %>
  </div>
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
