<h1 class="text-center">Order Fulfillment</h1>
<p class="title-buttons">
  <%= link_to "Account Products", robot_products_path(current_robot), class: 'btn btn-default' %>
</p>
<h3 class="text-center">Total Revenue: <%=  %></h3>
<br>
<div class="row">
  <div class='col-md-12'>
    <table class='table table-bordered table-hover'>
      <tr>
        <th>Product</th>
        <th>Quantity</th>
        <th>Revenue from Item</th>
        <th>Purchase Date</th>
        <th>Order Status</th>
        <th>Ship to Human</th>
      </tr>
      <tr>
        <% @items.each do |item| %>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td>$<%= item.product.price * item.quantity %></td>
          <td><%= item.updated_at.to_formatted_s(:short) %></td>
          <td><%= item.order.status.titlecase %></td>
          <td><%= button_to "Ship it", ship_path(item) %> </td>
        <% end %>

      </tr>
    </table>
  </div>
</div>
