<h1>Shipping Options</h1>

<ul>
  <% @current_order.errors.each do |column, message| %>
      <li>
        <strong><%= column.capitalize %></strong> <%= message %>
      </li>
  <% end %>
</ul>

<div class="row">
  <div class="col-md-6">
    <%= form_for @current_order, :url => { :action => "billing" } do |f| %>
      <div class="btn-group" data-toggle="buttons-radio">
        <%= f.radio_button :shipping_carrier, 'fedex' %>
        <%= f.label :shipping_carrier, 'Fedex', :value => 'fedex' %>
        <%= f.radio_button :shipping_carrier, 'ups' %>
        <%= f.label :shipping_carrier, 'UPS', :value => 'ups' %>
      </div>
      <%= f.submit "Continue", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
