<h2><%= @category.name %></h2>
<div class="row">
  <% @products.each do |product| %>
  <div class="col-md-4">
    <div class= "img thumbnail">
      <a href= "<%= product_path(product.id) %>">
         <%= image_tag(product.picture_url) %>
       <div class="caption">
         <h3><center><%= product.name %></center></h3>
         <h5 class="pull-right"><%= number_to_currency(product.price) %></h5>
         <h5><%= product.stock %> in stock</h5>
         <h5 class="pull-right"><%= product.reviews.count %> Reviews</h5>
         <h5>Star rating?</h5>
     </div>
   </div>
 </div>
 <% end %>
</div>
