<div class="container">
<% if !flash.now[:success].nil? %>
  <%= flash[:success] %>
<% end %>

<div class="row">
  <div class="col-md-4 col-md-offset-3">
    <%= link_to product_path(@product) do %>
      <%= image_tag @product.picture_url, class: "show" %>
    <% end %>
  </div>

  <div class="col-md-4">
    <h2><%= @product.name %></h2>
    <h3>About this Product
      <p><small><%= @product.description %></small></p>
    </h3> 
    <p class="text-muted">Categories: <%= @product.categories.map {|category| category.name}.join(", ") %></p>
    <h5><%= number_to_currency(@product.price) %></h5>

    <%= render 'shared/orderitem_form' %>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <% unless @product.reviews.empty? %> 
      <h3>Reviews for <%= @product.name %></h3>
      <% @product.reviews.each do |review| %>
        <%= review.rating.times do |star| %>
          <%= fa_icon "star", class: 'star' %> 
        <% end %>
        <h5><%= review.comment %></h5>
        <br>
      <% end %> 
    <% end %>
    <% unless session[:robot_id] == @product.robot_id %> 
      <h3>Leave Your Review for <%= @product.name %></h3>
      <%= render 'shared/review_form' %>
    <% end %>
  </div>
</div>
